#define OPTIMIZE 4
#define LINK_ALL_STATIC yes
#define PYTHON_IPATH C:\repos\mirai\Python-2.7.5\Include C:\repos\mirai\Python-2.7.5\PC
#define PYTHON_LPATH C:\repos\mirai\Python-2.7.5\PCbuild
#define PYTHON_LIBS python27_d.lib
#define HAVE_PYTHON yes
//who the fuck still has dx8
#define HAVE_DX8
#define HAVE_DX9

//#define DX9_IPATH C:\Program Files (x86)\Microsoft DirectX SDK (June 2010)\Include
//#define DX9_LPATH C:\Program Files (x86)\Microsoft DirectX SDK (June 2010)\Lib\x86

#define ZLIB_IPATH C:\repos\mirai\panda3d-1.8.1\thirdparty\win-libs-vc9\zlib\include
#define ZLIB_LPATH C:\repos\mirai\panda3d-1.8.1\thirdparty\win-libs-vc9\zlib\lib
#define ZLIB_LIBS libpandazlib1.lib

#define PNG_IPATH C:\repos\mirai\panda3d-1.8.1_x\thirdparty\win-libs-vc9\png\include
#define PNG_LPATH C:\repos\mirai\panda3d-1.8.1_x\thirdparty\win-libs-vc9\png\lib
#define PNG_LIBS libpandapng.lib

#define CG_IPATH C:\repos\mirai\panda3d-1.8.1\thirdparty\win-libs-vc9\nvidiacg\include
#define CG_LPATH C:\repos\mirai\panda3d-1.8.1\thirdparty\win-libs-vc9\nvidiacg\lib
#define CG_LIBS cg.lib

#define JPEG_IPATH C:\repos\mirai\panda3d-1.8.1\thirdparty\win-libs-vc9\jpeg\include
#define JPEG_LPATH C:\repos\mirai\panda3d-1.8.1\thirdparty\win-libs-vc9\jpeg\lib
#define JPEG_LIBS libpandajpeg.lib

#define OPENAL_IPATH C:\repos\mirai\panda3d-1.8.1\thirdparty\win-libs-vc9\openal\include
#define OPENAL_LPATH C:\repos\mirai\panda3d-1.8.1\thirdparty\win-libs-vc9\openal\lib
#define OPENAL_LIBS openal32.lib
#define OPENAL_FRAMEWORK

#define HAVE_FFMPEG
//The above actually disables FFMPEG

#define OPENSSL_IPATH C:\openssl\include
#define OPENSSL_LPATH C:\openssl\lib
#define OPENSSL_LIBS libeay32.lib ssleay32.lib user32.lib advapi32.lib gdi32.lib
#define HAVE_OPENSSL yes

#define FREETYPE_CFLAGS
#define FREETYPE_IPATH C:\freetype\include
#define FREETYPE_LPATH C:\freetype\objs\win32\vc2010
#define FREETYPE_LIBS freetype2411.lib
#define HAVE_FREETYPE yes

#define ODE_IPATH C:\ode-0.12\include
#define ODE_LPATH C:\ode-0.12\lib\ReleaseDoubleLib
#define ODE_LIBS ode_double.lib
#defer HAVE_ODE yes

#define USE_COMPILER MSVC9

#define VORBIS_IPATH C:\libvorbis-1.3.3\include C:\libogg-1.3.1\include
#define VORBIS_LPATH C:\libvorbis-1.3.3\win32\VS2010\Win32\Release
#define VORBIS_LIBS libvorbisfile_static.lib libvorbis_static.lib
