# Files/filetypes that don't need to be pushed.
*.pyc
*.ini
*.orig
*.mf
.orig
.ini 
.pyc
.mf
settings.json
Thumbs.db
.DS_Store
*.so
*.pyd
ai-crash.txt
dev-accounts.db
*.yaml
panel_save.mp

# Directories that don't need to be pushed.

**/backups/
logs/
astron/database
backups/blockinfo/
backups/toondna/
backups/
screenshots/
tools/build
tools/ttw-dev-launcher/resources/
tools/ttw-dev-launcher/resources/logs/
tools/ttw-dev-launcher/GameData.pyd