# Files/filetypes that don't need to be pushed.
*.pyc
*.ini
*.orig
.orig
.ini 
.pyc
settings.json
Thumbs.db
.DS_Store

# Directories that don't need to be pushed.

**/backups/
logs/
astron/database
backups/blockinfo/
backups/
screenshots/
tools/build
ai-crash.txt
dev-accounts.db
